{% extends "layout_loggedin.html" %}

{% block title %}Home{% endblock %}

{% block heading %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class = "text-center">Home</h1>
    <br />
    <br />
    <div class="text-center">
        <a id="btnCheckIn" class="btn btn-lg btn-primary" href="/checkin">Check In</a>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
        <a id="btnCheckOut" class="btn btn-lg btn-primary" href="/checkout">Check Out</a>
    </div>
</div>
{% endblock %}
